/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
  margin: 0;
  padding: 0;
  background-color: #fff5e1;
  line-height: 1.6;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('./assets/images/background\ bakery.jpg') no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px); /* Adjust the blur amount here */
  z-index: -1;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  color: #d2691e;
}

a {
  text-decoration: none;
  color: #d2691e;
}

a:hover {
  text-decoration: underline;
}


/* Navigation Styles */
nav {
  background-color: #f7efe1;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-brand {
  display: inline-block;
}

.nav-brand h1 {
  margin: 0;
  display: inline-block;
  margin-right: 40px;
  font-size: 1.8em;
  color: #8b4513;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav li {
  display: inline-block;
  line-height: 20px;
  margin: 0 5px;
}

nav a {
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,a:hover{
  background-color: #8b4513;
  color: #fff;
}

.checkbtn{
  font-size: 30px;
  color: #8b4513;
  float: right;
  margin-right: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

/* Footer Styles */
footer {
  background-color: #d2691e;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 0.9em;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 10px;
  min-width: 200px;
}

.footer-section h4 {
  margin-top: 0;
  color: #fff;
}

.social-media {
  list-style-type: none;
  padding: 0;
}

.social-media li {
  display: inline;
  margin-right: 10px;
}

.social-media a {
  color: #fff;
}

.social-media a:hover {
  color: #ffd700;
}

footer p {
  margin: 0;
}

/* Home Page Styles */
h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5em;
}

.video-menu-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

video {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.menu-info {
  margin-left: 20px;
  text-align: center;
}

.menu-info p {
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

button {
  display: inline-block;
  background-color: #d2691e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button a {
  color: #fff;
}

button:hover {
  background-color: #a84f1e;
}

.pastry-of-the-week {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f8e8d8;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
}

.pastry-of-the-week img {
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

p {
  text-align: center;
  font-size: 1.2em;
  margin: 20px auto;
  max-width: 800px;
}

/* MenuPage Styles */
.menu-page {
  padding: 20px;
  text-align: center;
  margin-top: 80px; /* Adjust based on the height of your fixed nav */
}

.menu-page h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.menu-section {
  margin-bottom: 40px;
}

.menu-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #d2691e;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Added transition for smooth effect */
}

.menu-item:hover {
  transform: scale(1.05); /* Scale up the container */
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Make the shadow more prominent */
}

.menu-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.menu-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.menu-item p {
  font-size: 1em;
  margin-bottom: 10px;
}

.menu-item .price {
  font-size: 1.2em;
  color: #d2691e;
  margin-bottom: 10px;
}

.menu-item .buy-button {
  display: inline-block;
  background-color: #d2691e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item .buy-button:hover {
  background-color: #a84f1e;
}

.more-items {
  margin-top: 40px;
  text-align: center;
}

.more-items p {
  font-size: 1.2em;
  color: #4a4a4a;
}